################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/CG/FileContentIndex/37f9fd18-5b50-4e6e-9f1a-d8a38296b679.vsidx
